<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comercio</title>
</head>
<body>
<ul>
    <li>
        Acceso a la sección administrativa
        <a href="{% url 'admin:index' %}">Acceder</a>
    </li>
</ul>
</body>
</html>